
.survey-description {
  font-size: 16px;
}

.form-section {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  gap: 100px;


  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .container {
      max-width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      text-align: center;



      @media (max-width: 768px) {
        .logos {
          display: flex;
          flex-direction: column;
          gap: 0;
        }

        .logos img {
          max-width: 240px; /* Adjust this value as needed */
          height: auto;
         
        }
      h1 {
        font-size: 15px;
      }
      h2 {
        font-size: 12px;
      }
       
      }
    }

    .logos {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      margin-bottom: 20px;
      

      img {
        object-fit: cover;
        height: 150px;
        padding: 50px;
        width: auto;
      }
    }
    

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h1 {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      text-align: center;
    }

    .options-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 50px;
      border-top: 1px solid #436ac5;
      padding-top: 40px;

      .option-card {
        margin: 0 1rem;
        text-align: center;
        font-size: 20px;
        flex: 1;

        h2 {
          margin-bottom: 0.5rem;
        }

        p {
          margin-bottom: 1rem;
          font-weight: 600;
        }

        button {
          color: white;
          width: 120px;
          height: 40px;
          margin-bottom: 100px;
          padding: 10px;
          background-color: #436ac5;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0e0a61;
          }
        }
      }

    

      @media screen and (max-width: 768px) {
       
        flex-direction: column;
          justify-content: center;
         
        .option-card {
          font-size: 16px; /* Decrease the font size for smaller screens */
        }
        
        .option-card h2 {
          font-size: 15px; /* Decrease the font size for smaller screens */
        }
        
        .option-card p {
          font-size: 14px; /* Decrease the font size for smaller screens */
        }
        .option-card button {
         font-size: 10px;
    width: 90px;
        }
        
       
      }
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 100px;

    .footerlogo {
      display: flex;
      align-items: center;
      gap: 20px;
      
  
      img {
        width: 150px;
        height: 50px;
        margin-right: 20px;
      }
  
      
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
  
      .footerlogo {
        margin-bottom: 20px;
       align-items: center;
       margin-left: 60px;
       
      }
  
      .info2 {
        font-size: 12px;
        margin-top: 20px;
        align-items: center;
      }
    }
  
  
  
    .info2 {
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  
  
  }
  
}
